version: '3.8'

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: dialog_db
      POSTGRES_USER: sark
      POSTGRES_PASSWORD: q
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SPRING_PROFILES_ACTIVE: docker

volumes:
  pgdata: